tools/automatic-weight-tracking-workflow/wyze-scale-weight-tracker.json
{
  "name": "Wyze Scale → Weight Tracking",
  "nodes": [
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        360
      ],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000002",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        20,
        560
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 8
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000003",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        20
      ],
      "parameters": {
        "content": "## ⚙️ Wyze Scale → Weight Tracking\n\n**Server .env — required variables:**\n```\nWYZE_KEY_ID=<from Wyze developer portal>\nWYZE_API_KEY=<from Wyze developer portal>\nWYZE_PHONE_ID=n8n-wyze-scale-sync-01ab\nWYZE_ACCESS_TOKEN=<from bootstrap-wyze-tokens.py>\nWYZE_REFRESH_TOKEN=<from bootstrap-wyze-tokens.py>\nGITHUB_PAT=<GitHub PAT with repo scope>\n```\n\n**How authentication works:**\n`get_wyze_data.py` on the server calls the Wyze refresh endpoint on every run and writes updated tokens back to `.env` automatically. The chain never expires as long as the workflow runs at least once every 28 days. If broken (server offline > 28 days), run `bootstrap-wyze-tokens.py` locally.\n\n**Annual key rotation:**\n1. Generate new Key ID + API Key at developer-api-console.wyze.com\n2. Update `WYZE_KEY_ID` and `WYZE_API_KEY` in server `.env`\n3. No restart needed — script reads `.env` on each run\n\n**Runs:** Daily at 10 AM, or trigger manually",
        "height": 420,
        "width": 760,
        "color": 4
      }
    },
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000004",
      "name": "Execute Wyze Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        280,
        440
      ],
      "parameters": {
        "authentication": "privateKey",
        "command": "python3 /root/n8n-docker-caddy/get_wyze_data.py"
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000007",
      "name": "Parse & Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        440
      ],
      "parameters": {
        "jsCode": "// Parse SSH stdout\nconst stdout = items[0].json.stdout;\nif (!stdout) throw new Error('No stdout from SSH node. Is get_wyze_data.py present on the server?');\n\nlet parsed;\ntry { parsed = JSON.parse(stdout); } catch(e) { throw new Error('Failed to parse Python output: ' + stdout); }\n\nif (parsed.error) throw new Error('Python script error: ' + parsed.error);\n\nconst d = parsed.data;\nif (!d || d.weight == null) throw new Error('No weight data in response: ' + stdout);\n\n// Check if reading is from today (Toronto time)\nconst measureDate = new Date(d.measure_ts);\nconst todayStr = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Toronto' });\nconst recordDateStr = measureDate.toLocaleDateString('en-CA', { timeZone: 'America/Toronto' });\n\nif (recordDateStr !== todayStr) {\n  return [{ json: {\n    shouldLog: false,\n    reason: `Latest reading is from ${recordDateStr}, not today (${todayStr}). Step on the scale!`\n  } }];\n}\n\n// Dedup: skip if already logged this exact measurement\nconst staticData = $getWorkflowStaticData('global');\nif (staticData.lastLoggedTs === d.measure_ts) {\n  return [{ json: { shouldLog: false, reason: `Already logged ts: ${d.measure_ts}` } }];\n}\n\n// wyze_sdk already returns weight in lbs — do NOT multiply by 2.20462\nconst weightLbs = Math.round(parseFloat(d.weight));\nconst bodyFat = (d.body_fat != null && d.body_fat !== 0) ? parseFloat(d.body_fat).toFixed(1) : '';\n\nreturn [{ json: {\n  shouldLog: true,\n  measure_ts: d.measure_ts,\n  todayStr,\n  weightLbs,\n  bodyFat,\n  bmi: d.bmi,\n  bmr: d.bmr,\n  muscle: d.muscle,\n  body_water: d.body_water,\n  bone_mineral: d.bone_mineral,\n  protein: d.protein,\n  metabolic_age: d.metabolic_age,\n  newRow: `| ${todayStr} | ${weightLbs} | ${bodyFat} | |`\n} }];"
      }
    },
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000010",
      "name": "New Data Today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.shouldLog }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000011",
      "name": "GitHub Get File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        340
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Godimas101/personal-projects/contents/health-tracking/weight-tracking.md",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_PAT }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000012",
      "name": "Build Updated File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        340
      ],
      "parameters": {
        "jsCode": "const processedData = $('Parse & Check').first().json;\nconst githubData = $input.first().json;\n\n// Decode base64 content from GitHub API response\n// GitHub wraps content in base64 with \\n every 60 chars\nconst currentContent = Buffer.from(\n  githubData.content.replace(/\\n/g, ''),\n  'base64'\n).toString('utf-8');\n\nconst sha = githubData.sha;\n\n// Append new row before trailing whitespace\nconst trimmedContent = currentContent.trimEnd();\nconst newContent = trimmedContent + '\\n' + processedData.newRow + '\\n';\n\n// Encode back to base64 for GitHub API PUT\nconst newContentBase64 = Buffer.from(newContent, 'utf-8').toString('base64');\n\nreturn [{\n  json: {\n    sha,\n    newContentBase64,\n    commitMessage: `chore: auto-log weight ${processedData.todayStr} — ${processedData.weightLbs} lbs`,\n    todayStr: processedData.todayStr,\n    weightLbs: processedData.weightLbs,\n    bodyFat: processedData.bodyFat\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000013",
      "name": "GitHub Update File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        340
      ],
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Godimas101/personal-projects/contents/health-tracking/weight-tracking.md",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_PAT }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $json.newContentBase64 }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1111-1111-1111-000000000014",
      "name": "Mark As Logged",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2980,
        340
      ],
      "parameters": {
        "jsCode": "// Persist the measure_ts so re-runs today don't double-log\nconst staticData = $getWorkflowStaticData('global');\nstaticData.lastLoggedTs = $('Parse & Check').first().json.measure_ts;\n\nreturn [{ json: {\n  success: true,\n  logged: true,\n  weightLbs: $('Build Updated File').first().json.weightLbs,\n  date: $('Build Updated File').first().json.todayStr\n} }];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Execute Wyze Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Wyze Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Wyze Script": {
      "main": [
        [
          {
            "node": "Parse & Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Check": {
      "main": [
        [
          {
            "node": "New Data Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Data Today?": {
      "main": [
        [
          {
            "node": "GitHub Get File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GitHub Get File": {
      "main": [
        [
          {
            "node": "Build Updated File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Updated File": {
      "main": [
        [
          {
            "node": "GitHub Update File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Update File": {
      "main": [
        [
          {
            "node": "Mark As Logged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}